version: '2'
services:
  filegator:
    build: .
    image: filegator:latest
    labels:
      - traefik.enable=true
      - traefik.http.routers.filegator.rule=Host(`files.derunix.ru`)
      - traefik.http.routers.filegator.entrypoints=websecure
      - traefik.http.routers.filegator.tls.certresolver=myresolver
      - traefik.http.services.filegator.loadbalancer.server.port=80
    expose:
      - 80
    volumes:
      - sshvolume:/var/www/filegator/repository
      - private:/var/www/filegator/private

volumes:
  private:
