version: '2'
services:
  filegator:
    build: .
    image: filegator:latest
    restart: always
      - traefik.enable=true
      - traefik.http.routers.filegator.rule=Host(`insta.derunix.ru`)
      - traefik.http.routers.filegator.entrypoints=websecure
      - traefik.http.routers.filegator.tls.certresolver=myresolver
      - traefik.http.services.filegator.loadbalancer.server.port=80      
    expose:
      - 80
    volumes:
      - /opt/docker/apps/files.derunix.ru/repository:/var/www/filegator/repository
      - private:/var/www/filegator/private

volumes:
  repository:
  private:
